<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.odonto.aplicativoodontologia">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconeinicial"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".telaFinalControle"></activity>
        <activity android:name=".quest02Controle" />
        <activity android:name=".espera" />
        <activity android:name=".quest01Controle" />
        <activity android:name=".tela4Controle" />
        <activity android:name=".tela3Controle" />
        <activity android:name=".tela2Controle" />
        <activity android:name=".telaEscolha" />
        <activity
            android:name=".telaFinal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quest08"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quest07"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quest06"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quest05"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quest04"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quest03"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quest02"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quest01"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tela5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tela4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tela3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tela2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>